/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* propiedades del padre */

.padre{
    height: 800px;
    display: grid;
    /* propiedad para trabajar columnas y propiedad para trabjar filas */
    grid-template-columns: 30% 70%;
    grid-template-rows: 20% 80%;

    column-gap: 10px;
    row-gap: 10px;
}
/* propiedades de los hijos*/

.hijoUno{
    background-color: rgb(127, 22, 226);
}

.hijoDos{
    background-color: rgb(159, 111, 203);
}

.hijoTres{
    background-color: rgb(91, 70, 111);
}

.hijoCuatro{
    background-color: rgb(48, 44, 52);
}

/*ejemplo dos*/

.ejemplo{
    height: 500px;
    background-color: coral;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    justify-items: center;
    align-items: center;
}

.imagen-1{
    justify-self: end;
    align-self: end;
}

/* ultimo ejemplo */

.contenedor{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1.3fr ;
    grid-template-rows: 0.5fr 1fr 0.5fr ;

    /* sove para tranjar las areas de mi html*/
    grid-template-areas: 
    "header header header"
    "main main section"
    "footer footer footer"
    
    ;
}
/*propiedades de los hijos */

header{
    background-color: crimson;
    grid-area: header;
    display: flex;
}

main{
    background-color: coral;
    grid-area: main;
}

section{
    background-color: violet;
    grid-area: section;
}

footer{
    background-color: tomato;
    grid-area: footer;
}
